In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/adult.data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df['race']=='White'

0         True
1         True
2         True
3        False
4        False
         ...
32556     True
32557     True
32558     True
32559     True
32560     True
Name: race, Length: 32561, dtype: bool

In [5]:
a=df.loc[df['race']=='White','race'].count()

In [6]:
b=df.loc[df['race']=='Black','race'].count()

In [7]:
c=df.loc[df['race']=='Other','race'].count()

In [8]:
d=df.loc[df['race']=='Amer-Indian-Eskimo','race'].count()

In [9]:
e=df.loc[df['race']=='Asian-Pac-Islander','race'].count()

In [10]:
races=pd.Series({
    'White':a,
    'Black':b,
    'Other':c,
    'Amer-Indian-Eskimo':d,
    'Asian-Pac-Islander':e
})

In [11]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
m=df.loc[df['sex']=='Male','age']
m

0        39
1        50
2        38
3        53
7        52
         ..
32553    32
32554    53
32555    22
32557    40
32559    22
Name: age, Length: 21790, dtype: int64

In [13]:
m.mean()

39.43354749885268

In [14]:
de=df['education']
dee= de.count()

In [15]:
ba=df.loc[df['education']=='Bachelors','education']
ba

0        Bachelors
1        Bachelors
4        Bachelors
9        Bachelors
11       Bachelors
           ...
32530    Bachelors
32531    Bachelors
32533    Bachelors
32536    Bachelors
32538    Bachelors
Name: education, Length: 5355, dtype: object

In [16]:
(ba.count()/dee)*100

16.44605509658794

In [17]:
df.loc[df['hours-per-week'].min(),'hours-per-week']

13

In [18]:
df.loc[df['hours-per-week'].min()]

age                               50
workclass           Self-emp-not-inc
fnlwgt                         83311
education                  Bachelors
education-num                     13
marital-status    Married-civ-spouse
occupation           Exec-managerial
relationship                 Husband
race                           White
sex                             Male
capital-gain                       0
capital-loss                       0
hours-per-week                    13
native-country         United-States
salary                         <=50K
Name: 1, dtype: object

In [19]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [52]:
desired=['Bachelors','Masters','Doctorate']
df.loc[df['education'].isin(desired),'education']

0        Bachelors
1        Bachelors
4        Bachelors
5          Masters
8          Masters
           ...
32538    Bachelors
32539    Doctorate
32544      Masters
32553      Masters
32554      Masters
Name: education, Length: 7491, dtype: object

In [21]:
(bc.count()/df['education'].count())*100

23.006050182733944

In [22]:
100-(bc.count()/df['education'].count())*100

76.99394981726606

In [41]:
df.loc[df['salary']=='>50K','salary'].count()

7841

In [24]:
bb=df.loc[df['education'].isin(desired)]
cc=bb.loc[bb['salary']=='>50K','salary'].count()
cc

3486

In [25]:
(cc/bb['salary'].count())*100

46.535843011613935

In [26]:
ff= df['education'].count()-bc.count()

In [27]:
plus_50_earners = df.loc[df['salary']=='>50K','salary'].count()
rest=plus_50_earners-cc
rest

4355

In [28]:
(rest/ff)*100

17.3713601914639

In [29]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [69]:
min_workers=df['hours-per-week'].min()

In [70]:
num_min_workers= df[df['hours-per-week']==min_workers].shape[0]

In [71]:
min_hours=df[df['hours-per-week']==min_workers]
(min_hours[min_hours['salary']=='>50K'].shape[0]/num_min_workers)*100

10.0

In [33]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [35]:
df['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [48]:
df['education'].value_counts(normalize=True).get('Bachelors',0)*100

16.44605509658794

In [84]:
num_high_salary_per_country=df.loc[df['salary']=='>50K','native-country'].value_counts()
num_country=df['native-country'].value_counts()
(num_high_salary_per_country/num_country*100).idxmax()

'Iran'

In [101]:
india_group=df[df['native-country']=='India']
most_popular_occ=india_group[india_group['salary']=='>50K'].occupation.value_counts().idxmax()

'Prof-specialty'