In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('data/harvard_reviews.csv')

In [4]:
df.head()

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...

In [6]:
df.describe()

            rating  helpful_votes
count  3184.000000    3184.000000
mean      4.456658       0.498744
std       0.744024       2.819638
min       1.000000       0.000000
25%       4.000000       0.000000
50%       5.000000       0.000000
75%       5.000000       1.000000
max       5.000000     111.000000

In [9]:
df.isnull().value_counts()

published_date  published_platform  rating  type   helpful_votes  title  text
False           False               False   False  False          False  False    3184
Name: count, dtype: int64

In [11]:
df.dropna()

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...
...,...,...,...,...,...,...,...
3179,2010-10-29T05:47:57-04:00,Desktop,3,review,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...
3180,2010-08-23T06:08:51-04:00,Desktop,3,review,0,Weniger als erwartet,Von der F√ºhrung der Harvard University erhofft...
3181,2010-08-23T00:06:41-04:00,Desktop,5,review,0,bellissima universit√†,"da vedere questa citt√†, studio sede di una del..."
3182,2010-06-03T07:37:36-04:00,Desktop,5,review,2,"Tolle Universit√§t, definitiv einen Abstecher wert","Hallo,\nich habe ein Jahr an der Harvard Law S..."
3183,2009-09-27T16:39:18-04:00,Desktop,5,review,1,‰∏ÄÂ∫¶„ÅØË°å„Åè„Åπ„Åç,„Å®„Å¶„ÇÇÊ≠¥Âè≤„ÅÆ„ÅÇ„ÇãÁ¥†Êïµ„Å™Âª∫Áâ©„Åß„Åô„ÄÇ„Éè„Éº„Éê„Éº„Éâ„Çπ„ÇØ„Ç®„Ç¢„Éº„ÅÆÈßÖ„ÅÆËøë„Åè„Åã„ÇâÁÑ°Êñô„ÅÆ„ÉÑ„Ç¢„ÉºÔºàËã±Ë™ûÔºâ„Çí„Éè„Éº...

In [13]:
df['type'].unique()

array(['review'], dtype=object)

In [23]:
df.loc[df['rating']>4, 'rating']

0       5
4       5
6       5
7       5
11      5
       ..
3176    5
3178    5
3181    5
3182    5
3183    5
Name: rating, Length: 1852, dtype: int64

In [25]:
df.loc[df['title']=='Harvard University'].idxmax()

published_date           1
published_platform      10
rating                1506
type                     1
helpful_votes         2012
title                    1
text                  2232
dtype: int64

In [26]:
df.head()

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...

In [27]:
df.set_index('published_date', inplace=True)

In [28]:
df.head()

,published_platform,rating,type,helpful_votes,title,text
published_date,,,,,,
2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...