In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Population':[65.789,54.6743,345.678,23.456,67.890,123.098,59.000],
    'GDP':[
        1234567,
        3456788,
        2346577,
        4847658,
        6754444,
        2343454,
        8577547
    ],
    'HDI':[
        0.913,
        0.3432,
        0.321,
        0.879,
        0.373,
        0.999,
        0.342
    ]
})

In [3]:
df

   Population      GDP     HDI
0     65.7890  1234567  0.9130
1     54.6743  3456788  0.3432
2    345.6780  2346577  0.3210
3     23.4560  4847658  0.8790
4     67.8900  6754444  0.3730
5    123.0980  2343454  0.9990
6     59.0000  8577547  0.3420

In [4]:
df.columns

Index(['Population', 'GDP', 'HDI'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  7 non-null      float64
 1   GDP         7 non-null      int64
 2   HDI         7 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 300.0 bytes

In [6]:
df.shape

(7, 3)

In [7]:
df.describe()

       Population           GDP       HDI
count    7.000000  7.000000e+00  7.000000
mean   105.655043  4.223005e+06  0.595743
std    109.896306  2.656186e+06  0.315374
min     23.456000  1.234567e+06  0.321000
25%     56.837150  2.345016e+06  0.342600
50%     65.789000  3.456788e+06  0.373000
75%     95.494000  5.801051e+06  0.896000
max    345.678000  8.577547e+06  0.999000

In [8]:
df.index = [
    'Canada',
    'USA',
    'Ghana',
    'Rwanda',
    'Netherlands',
    'Australia',
    'Austria'
]

df

             Population      GDP     HDI
Canada          65.7890  1234567  0.9130
USA             54.6743  3456788  0.3432
Ghana          345.6780  2346577  0.3210
Rwanda          23.4560  4847658  0.8790
Netherlands     67.8900  6754444  0.3730
Australia      123.0980  2343454  0.9990
Austria         59.0000  8577547  0.3420

To select a row or an index you use an attribute called loc(if you call the row by name) or iloc(if you call the row by sequential index)

In [9]:
df.loc['Rwanda']

Population         23.456
GDP           4847658.000
HDI                 0.879
Name: Rwanda, dtype: float64

To call a column however, the index is applied diretly to the dataframe

In [10]:
df['GDP']

Canada         1234567
USA            3456788
Ghana          2346577
Rwanda         4847658
Netherlands    6754444
Australia      2343454
Austria        8577547
Name: GDP, dtype: int64

In [11]:
df.loc['Canada':'Netherlands']

             Population      GDP     HDI
Canada          65.7890  1234567  0.9130
USA             54.6743  3456788  0.3432
Ghana          345.6780  2346577  0.3210
Rwanda          23.4560  4847658  0.8790
Netherlands     67.8900  6754444  0.3730

In [12]:
df.iloc[2:5,0]

Ghana          345.678
Rwanda          23.456
Netherlands     67.890
Name: Population, dtype: float64

In [13]:
df.loc['Ghana':'Austria','Population']

Ghana          345.678
Rwanda          23.456
Netherlands     67.890
Australia      123.098
Austria         59.000
Name: Population, dtype: float64

In [14]:
df['Population'] <59

Canada         False
USA             True
Ghana          False
Rwanda          True
Netherlands    False
Australia      False
Austria        False
Name: Population, dtype: bool

In [26]:
df.loc[df['Population']< 59]

        Population      GDP     HDI      Continent  GDP per Capita
USA        54.6743  3456788  0.3432  North America    63225.098447
Rwanda     23.4560  4847658  0.8790         Africa   206670.276262

In [16]:
df.drop('Canada')

             Population      GDP     HDI
USA             54.6743  3456788  0.3432
Ghana          345.6780  2346577  0.3210
Rwanda          23.4560  4847658  0.8790
Netherlands     67.8900  6754444  0.3730
Australia      123.0980  2343454  0.9990
Austria         59.0000  8577547  0.3420

Operations just like the one in numpy can be done here as well

In [17]:
crisis=pd.Series([-10000,-0.1], index=['GDP','HDI'])
crisis

GDP   -10000.0
HDI       -0.1
dtype: float64

In [18]:
df[['GDP','HDI']] + crisis

                   GDP     HDI
Canada       1224567.0  0.8130
USA          3446788.0  0.2432
Ghana        2336577.0  0.2210
Rwanda       4837658.0  0.7790
Netherlands  6744444.0  0.2730
Australia    2333454.0  0.8990
Austria      8567547.0  0.2420

### Modifying Dataframes

In [19]:
conts=pd.Series({
    'Canada':'North America',
    'USA':'North America',
    'Ghana': 'Africa',
    'Rwanda':'Africa',
    'Netherlands':'Europe',
    'Austria':'Europe'
}, name='Continent')

In [20]:
df['Continent']= conts
df

             Population      GDP     HDI      Continent
Canada          65.7890  1234567  0.9130  North America
USA             54.6743  3456788  0.3432  North America
Ghana          345.6780  2346577  0.3210         Africa
Rwanda          23.4560  4847658  0.8790         Africa
Netherlands     67.8900  6754444  0.3730         Europe
Australia      123.0980  2343454  0.9990            NaN
Austria         59.0000  8577547  0.3420         Europe

In [21]:
df.rename(columns={'Continent':'CONTINENT'},
          index={'USA':'United States of America'})

                          Population      GDP     HDI      CONTINENT
Canada                       65.7890  1234567  0.9130  North America
United States of America     54.6743  3456788  0.3432  North America
Ghana                       345.6780  2346577  0.3210         Africa
Rwanda                       23.4560  4847658  0.8790         Africa
Netherlands                  67.8900  6754444  0.3730         Europe
Australia                   123.0980  2343454  0.9990            NaN
Austria                      59.0000  8577547  0.3420         Europe

In [22]:
df

             Population      GDP     HDI      Continent
Canada          65.7890  1234567  0.9130  North America
USA             54.6743  3456788  0.3432  North America
Ghana          345.6780  2346577  0.3210         Africa
Rwanda          23.4560  4847658  0.8790         Africa
Netherlands     67.8900  6754444  0.3730         Europe
Australia      123.0980  2343454  0.9990            NaN
Austria         59.0000  8577547  0.3420         Europe

In [23]:
df['GDP'] / df['Population']

Canada          18765.553512
USA             63225.098447
Ghana            6788.331916
Rwanda         206670.276262
Netherlands     99491.000147
Australia       19037.303612
Austria        145382.152542
dtype: float64

In [24]:
df['GDP per Capita']= df['GDP'] /df['Population']

In [25]:
df

             Population      GDP     HDI      Continent  GDP per Capita
Canada          65.7890  1234567  0.9130  North America    18765.553512
USA             54.6743  3456788  0.3432  North America    63225.098447
Ghana          345.6780  2346577  0.3210         Africa     6788.331916
Rwanda          23.4560  4847658  0.8790         Africa   206670.276262
Netherlands     67.8900  6754444  0.3730         Europe    99491.000147
Australia      123.0980  2343454  0.9990            NaN    19037.303612
Austria         59.0000  8577547  0.3420         Europe   145382.152542