Pandas

In [1]:
import numpy as np
import pandas as pd

Pandas Series

In [2]:
#In millions
g7_pop=pd.Series([65.789,54.6743,345.678,23.456,67.890,123.098,59.000])
g7_pop

0     65.7890
1     54.6743
2    345.6780
3     23.4560
4     67.8900
5    123.0980
6     59.0000
dtype: float64

In [3]:
g7_pop.name= 'G7 Population in millions'
g7_pop

0     65.7890
1     54.6743
2    345.6780
3     23.4560
4     67.8900
5    123.0980
6     59.0000
Name: G7 Population in millions, dtype: float64

In [4]:
g7_pop.values

array([ 65.789 ,  54.6743, 345.678 ,  23.456 ,  67.89  , 123.098 ,
        59.    ])

In [5]:
g7_pop.index=[
    'Canada',
    'United Kingdom',
    'Ghana',
    'Togo',
    'Benin',
    'Germany',
    'United States'
]
g7_pop

Canada             65.7890
United Kingdom     54.6743
Ghana             345.6780
Togo               23.4560
Benin              67.8900
Germany           123.0980
United States      59.0000
Name: G7 Population in millions, dtype: float64

The series can also be created with indexes like a dictionary

In [6]:
ar=pd.Series({
    'Canada':98.567,
    'United Kingdom':657.432,
    'France':98.466,
    'Japan':354.321,
    'Germany':91.000,
    'United States':98.909,
    'Italy': 60.655
} , name='G7 Population in millions')
ar

Canada             98.567
United Kingdom    657.432
France             98.466
Japan             354.321
Germany            91.000
United States      98.909
Italy              60.655
Name: G7 Population in millions, dtype: float64

In [7]:
ar['Canada']

98.567

If indexes are named, indexing can still be done the default way using .iloc

In [8]:
ar.iloc[4]

91.0

In [9]:
ar > 100

Canada            False
United Kingdom     True
France            False
Japan              True
Germany           False
United States     False
Italy             False
Name: G7 Population in millions, dtype: bool

In [10]:
ar[ar > 100]

United Kingdom    657.432
Japan             354.321
Name: G7 Population in millions, dtype: float64